.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 10px;
  }
  
  .bottom-section .links {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .ant-typography h5 {
    margin-bottom: 0;
  }