.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 20px;
  }
  
  .bottom-section .links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .ant-typography h5 {
    margin-bottom: 0;
  }